body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8c8dc; 
}

.stopwatch {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.1s;
}

#startPause {
    background-color: #28a745; /* Green */
    color: white;
}

#reset {
    background-color: #28a745; /* Red */
    color: white;
}

#lap {
    background-color: #28a745; /* Blue */
    color: white;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    transform: scale(0.95);
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#laps li:nth-child(odd) {
    background: #f9f9f9;
}
